

.ingredientChecked {
  text-decoration: line-through solid black;
}

.finishRecipeBtn {
  background-color: yellow;
  border: 1px solid brown;
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
  left: 50%;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
}


