.recipeThumb {
  width: 200px;
}

.recipeCoverWrapper {
  align-items: center;
  color: yellow;
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.recipeCoverWrapper img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.recipeTitle {
  font-size: 1.2rem;
}

.recipeCategory {
  left: 10px;
  position: absolute;
  top: 10px;
}

.recipeVideo {
  display: flex;
  justify-content: center;
}

.recipeVideo iframe {
  height: 400px;
  width: 80%;
}

.recipeCarousel {
  align-items: center;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.recipeCarousel img {
  box-shadow: 0 0 5px 0 black;
  width: 180px;
}
